

/* ==========================================================================
   Widget
   ========================================================================== */
.widget h3 {
    text-transform: uppercase;
    position: relative;
    margin: 0;
    margin-bottom: 35px;
    line-height: 10px;
    font-weight: 800;
    color: #000;
}

#footer-1 .subpage-title {
    color: $text;
}

.widget h3:before {
    content: "";
    width: 35px;
    height: 3px;
    background-color:$secondary;
    display: block;
    position: absolute;
    bottom: -15px;
    left: 0;
}

.subpage-title .prev, .subpage-title .next {
    position: absolute;
    top: 0;
    right: 35px;
    width: 30px;
    height: 30px;
    border: 2px solid #ecf0f1;
    font-size: 14px;
    line-height: 25px;
    text-align: center;
    cursor: pointer;
}

.subpage-title .prev.disabled, .subpage-title .next.disabled,
.subpage-title .prev.disabled:hover, .subpage-title .next.disabled:hover {
    opacity: 0.65;
    filter: alpha(opacity=65);
    border-color: #ecf0f1;
}

.subpage-title .prev:hover, .subpage-title .next:hover {
    border-color: $secondary;
}

.subpage-title .prev.black, .subpage-title .next.black {
    border-color: #bdc3c7;
}

.subpage-title .prev.black:hover, .subpage-title .next.black:hover {
    border-color: #2ecc71;
}

.subpage-title .prev.black.disabled:hover, .subpage-title .next.black.disabled:hover {
    border-color: #bdc3c7;
}

.subpage-title .next {
    right: 0;
}
